.indicator {
  width      : 12px;
  height     : 4px;
  transition : width 250ms ease;

  &[data-active] {
		width            : 60px;
		background-color : var(--mantine-color-blue-filled);
  }
}
.control {
  &[data-inactive] {
    opacity : 0;
    cursor  : default;
  }
}