.weatherInfo {
	transform: rotate(-90deg); 
}

.weather {
	font-size      : 2.3rem;
	text-transform : uppercase;
	font-weight    : bolder;
}

.description {
	font-size      : 1rem;
	text-transform : uppercase;
	text-wrap      : nowrap;
}

.celsius {
	&::after {
		content: "°C";
	}
}

.temperature {
	font-size   : 4rem;
	font-weight : bolder;
}

.feelsLike {
	font-size   : 1.05rem;
	font-weight : 600;
}

.minmax {
	font-size: 1.2rem;
}
