.cursor {
  cursor: grab;
}

.lightText {
  font-weight: 200;
}

.spinningIcon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
